<footer>
  <div class="icon-container">
    <a href="mailto:desbleds.laetitia@outlook.fr">
    <div class="icon">
      <app-mail>
    </app-mail>
    </div>
    </a>
    <a href="https://fr.linkedin.com/in/laetitia-desbleds-developpeuse-web-master-expert-informatique-si-developpement"
       target="_blank">
    <div class="icon">
      <app-linkedin>
      </app-linkedin>
    </div>
    </a>
    <a href="https://gitlab.com/LaetitiaDesbleds"
       target="_blank">
    <div class="icon">
      <app-gitlab>
      </app-gitlab>
    </div>
    </a>
  </div>
  <span class="footer_text">Laëtitia Desbleds | Test Technique Etayage | Juillet 2023</span>
</footer>
