footer {
  background:#4DB6AC;
  position:fixed;
  width:100%;
  bottom:0;
  height:10%;
  color:black;
  text-align:center;
  font-size: 35px;
  box-shadow: 0 -2px 5px rgba(0,0,0,.26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_text {
  font-family: 'Calibri Light', 'Calibri', sans-serif;
  color:#fff;
  font-size: 15px;
  border-top: 1px solid white;
  width: 25%;
  text-align: center;
  padding-top: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 10px;
}

.icon {
  color: white;
  font-size: 20px;
}
