.title{
  font-family: 'Calibri Light', sans-serif;
  color: #f7b93d;
  font-size: 30px;
  text-align: center;
  margin-top: 3%;
}

.map-and-organismes {
  display: flex;
  justify-content: space-between;
}

.map-wrapper {
  position: absolute;
  height: 80%;
  width: 40%;
  right: 3%;
  top: 20%;
}

.map-border {
  border: 5px solid orange;
  height: 70%;
}

#map {
  height: 100%;
}

.selected-organismes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  margin-top: 1%;
}

.example-card {
  width: 400px;
  margin-bottom: 8px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0,0,0,3);
}

.back-to-top {
  position: fixed;
  bottom: 7%;
  right: 3%;
  cursor: pointer;
  border-radius: 50%;
  z-index: 5000;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.header-content {
  display: flex;
  flex-direction: column;
}

.mid-content {
  display: flex;
  justify-content: space-between;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.url {
  font-weight: bold;
}

.gras {
  font-weight: bold;
}
