<section class="container-fluid">
  <h1 class="title">Site en cours de contruction</h1>
  <div class="map-and-organismes">
    <div class="map-wrapper">
      <div class="map-border">
        <div id="map"></div>
      </div>
    </div>
    <div class="selected-organismes">
      <mat-card *ngFor="let organisme of selectedOrganismes" class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ organisme.nomOrganisme }}</mat-card-title>
            <mat-card-subtitle>{{ organisme.activite }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p class="description">{{ organisme.descriptionActivite }}</p>
          <p class="description"><span class="gras">Niveau : </span>{{ organisme.niveauActivite }}</p>
          <p class="description"><span class="gras">Tarif : </span>{{ organisme.tarif }}</p>
          <p class="description"><span class="gras">Téléphone : </span>{{ organisme.tel }}</p>
          <mat-card-subtitle>{{ organisme.ageEnClair }}</mat-card-subtitle>
          <p class="url">{{ organisme.url }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<div class="back-to-top" (click)="onBackToTopClick()">
  <app-arrow></app-arrow>
</div>
