<link rel="stylesheet" href="main-page.component.css">
<section class="d-flex">
  <section class="flex-grow-1 d-flex flex-column">
    <app-header></app-header>
    <main class="page-content">
      <ng-content></ng-content>
    </main>
    <app-footer></app-footer>
  </section>
</section>
