header{
  background:#4DB6AC;
  position:fixed;
  width:100%;
  height:10%;
  color:black;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.title{
  font-family: 'Arizonia', serif;
  color:#fff;
  font-size: 50px;
}
