<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" id="gitlab">
  <path
    d="M19.953 1.307c-.147-.41-.736-.41-.884 0l-2.651 8.089h6.186L19.953 1.307zM1.395 9.395l-1.352 4.071c-.12.37.014.78.335 1.018L12 23 1.396 9.396 1.395 9.395zM7.582 9.396L4.931 1.307c-.147-.41-.736-.41-.884 0L1.396 9.396h6.185H7.582z"></path>
  <polygon points="7.582 9.396 12 23 16.418 9.396"></polygon>
  <path
    d="M23.957,13.467l-0.001,0.001l-1.352-4.071L12,23l11.622-8.516C23.942,14.247,24.076,13.837,23.957,13.467z"></path>
</svg>
